.customstyle-Carrier{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedbackheader{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--heading-color);
}

.simplebar-placeholder{
    height: 10px !important;
}

.fixed-width-column {
    width: 300px; /* Adjust the width as needed */
    max-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
.feedbackbox{
    border: 0;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(8, 12, 36, 0.08);
}

.customstyle-Service{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .list-Investors{
    margin-left:10px;
} */

.list-Investors1{
    margin-left:1px;
    list-style-type: none;
    font-size: 15px;
    line-height: 20px;
}

.list-Investors2{
    margin-right:5px;
}

.CorporateInformation{
    font-size: 22px;
}

.CorporateInformation1{
    font-size: 18px;
}

.CorporateInformation2{
    margin-top: 10px;
    border-bottom: 1px solid rgb(195, 191, 191);
    padding:4px;
}
.CorporateInformation3{
    font-size: 22px;
    margin-top: 20px;
}

.list-Corporate1{
    margin-top:0px;
    list-style-type: none;
    font-size: 15px;
    color: rgb(53, 52, 52);
    padding-left: 0%;
}

.list-Corporate2{
    margin-right:12px;
}

.visionStat{
    margin-top: -10px;
    color:#ffffff;
    margin-left: 60px;
}

.divider-area.divider-default-area {
    background-color: #d8251e;
    overflow: hidden;
    position: relative;
    padding: 20px 0 20px;
    color: #ffffff;
}

.divider-area.divider-default-area .content .title {
    color: #fff;
    font-size: 30px;
    line-height: 1.2889;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 767px){
    .divider-area.divider-default-area .content .title {
        font-size: 13px;
    }
}

.heading__title {
    font-size: 40px;
    /* color: #ff5e14; */
    color: #fff;
    background-color:#29176d;
    margin-bottom: 30px;
    border-radius: 10px 10px;
}

@media (min-width: 320px) and (max-width: 425px) {
    .heading__title {
        font-size: 24px;
        margin-bottom: 0px;
    }
  }

.widget_tags .tagcloud p {
    background: #080c24;
    border-radius: 0;
    box-shadow: 0 2px 14px rgba(4,6,66,.05);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 0;
    height: 40px;
    line-height: 39px;
    margin: 0 7px 10px 0;
    padding: 0 20px;
}

.list-Policy{
    margin-top:30px;
    list-style-type: none;
    font-size: 15px;
    color: rgb(53, 52, 52);
    padding-left: 0%;
}

.RightIssue{
    margin-top: 20px;
}

.list-corporateInfo{
    margin-left:1px;
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
}

.csrimg{
    margin-top: 90px;
}

.csr_area{
    padding: 40px 0 30px;
}

.csr_img{
   margin-bottom: 10px;
}


section {
    position: relative;
    padding: 100px 0;
}

.projects-gallery .project-item {
    box-shadow: none;
}

.project-item .project__img {
    position: relative;
    transition: all .6s linear;
}

.project-item .project__img img {
    width: 100%;
}

.project-item .zoom__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
    transition: all .4s linear;
}

.project-item .zoom__icon:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    transform: translate(-50%,-50%);
    background-color: #fff;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    font-weight: 400;
}

.lb-outerContainer {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 4px;
}

.lb-container {
    padding: 4px;
}

.lightbox .lb-image {
    display: block;
    max-width: inherit;
    border-radius: 3px;
}

.img-chairman{
    /* margin-top: 10px; */
    /* margin-left: 0px; */
    padding: 10px 0px;}

.button-color{
    background: #d8251e;
}

.para-color{
color: black;
}
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Add your desired background color */
    z-index: 1000; /* Adjust the z-index as needed */
  }
  
  /* Media query for medium devices */
  @media (min-width: 768px) and (max-width: 992px) {
    .breadcrumb-area {
      /* Adjust styles for medium devices */
      flex: 0 0 auto;
    width: 100%;
    }
  }
  
  /* Media query for larger devices */
  @media (min-width: 992px) {
    .breadcrumb-area {
      /* Adjust styles for larger devices */
      flex: 0 0 auto;
    width: 100%;
    }
  }

  .para{
    text-align: center;
  }

  .reg-offices {
    color: #FFFFFF;
    background-color: #00AEEF;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 10px;
}

.trackBtn {
    width: 50%;
    padding: 10px 0px;
    text-align: center;
    background-color: #29176d;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0px 60px 0px 0px;
}

.slider-form {
    margin-top: 35px;
}

.slider-form form {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.slider-form input {
    width: 370px;
    border: none;
    background: #fff;
    padding: 16px 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #473856;
    margin-right: 10px;
}

.boxed-btn1{
    padding: 4px 20px;
    background: #29176d;
    color: #fff;
    border-radius: 20px 
}

.single-input-inner1{
    /* margin-top: 30px; */
    margin-bottom: 20px;
    position: relative;
    border-radius: 8px;
}

.scroll-to-top1 {
    width: 20%;
    background-color: white;
    right: 78px;
    bottom: 122px;
    position: fixed;
    z-index: 3;
    cursor: pointer;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
    border: none;
}

.scroll-to-top1 h6{
    text-align: center;
    padding-top: 6px ;
}

.branch-list{
    padding: 10px;
}

.branch-list1{
    padding: 10px;
    margin-left: 10px;
}

.branch-btn{
    padding: 0px 10px;
    margin-left: 10px;
    background-color:#fff;
}

.blp_from{
    background-color: #29176d;
    padding: 5px;
}

.img1{
    max-width: 100%;
    border-radius: 6px 6px;
}

.home-bg{
    background-image: linear-gradient(#c1b6eb52, #f7e7e6);
}

.para1{
    text-align: center;
    color:#fff;
}

.title1{
    text-transform: capitalize;
    font-size: 28px;
    color:#fff;
    margin-bottom: -2px;
}

/*for mobile*/
@media (max-width: 425px) {
    .title1{
        font-size: 20px;
    }
 }

 @media (min-width: 767px){
    .title1{
        font-size: 28px;
    }
  }

  @media (width: 768px){
    .title1{
        font-size: 18px;
    }
  }

 @media (min-width: 910px) and (max-width: 912px) {
    .title1{
        font-size: 16px;
    }
 }

.contact-btn, .contact-btn:hover{
    color: #fff;
}

.home-area.home-v2 .header-bg .header-inner-wrap .header-inner1 {
    margin-left: 0;
    margin-top: 0;
    background-color: rgba(216, 39, 31, 0.5);
    padding: 40px;
    margin-right: 15%;
    position: relative;
    border-radius: 28px;
    bottom: 700px;
}

@media (min-width: 768px){
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1 {
        bottom: 690px;
    }
  }

@media (min-width: 910px) and (max-width: 912px) {
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1 {
        bottom: 940px;
    }
 }

.home-area.home-v2 .header-bg .header-inner-wrap .header-inner1 .title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 0;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

@media (min-width: 320px) and (max-width: 425px) {
    .request-quote-inner .nav-pills .nav-item .nav-link{
        font-size: 11px;
    }
  }

  @media (max-width: 767px){
    .home-area.home-v2 .header-slider .background{
        background-image: url('/public/assets/img/banner/1.webp');
        width: 100%;
        height: 300px;
    }
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1{
        margin-left: 50px;
        bottom: 78px;
    }

}
    @media (max-width: 767px){
    .home-area.home-v2 .header-slider .background1{
        background-image: url('/public/assets/img/banner/8.webp');
        width: 100%;
        height: 300px;
    }
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1{
        margin-left: 50px;
        bottom: 78px;
    }
}
    @media (max-width: 767px){
    .home-area.home-v2 .header-slider .background2{
        background-image: url('/public/assets/img/banner/2 (1).webp');
        width: 100%;
        height: 300px;
    }
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1{
        margin-left: 50px;
        bottom: 78px;
    }
}
    @media (max-width: 767px){
    .home-area.home-v2 .header-slider .background3{
        background-image: url('/public/assets/img/banner/4 (1).webp');
        width: 100%;
        height: 300px;
    }
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1{
        margin-left: 50px;
        bottom: 78px;
    }
}
    @media (max-width: 767px){
    .home-area.home-v2 .header-slider .background4{
        background-image: url('/public/assets/img/banner/3.webp');
        width: 100%;
        height: 300px;
    }
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1{
        margin-left: 50px;
        bottom: 78px;
    }
  }

  @media (min-width: 767px){
    .home-area.home-v2 .header-slider .background{
        background-image: url('/public/assets/img/banner/1.webp');
        width: 100%;
        height: 800px;
    }
}
    @media (min-width: 767px){
    .home-area.home-v2 .header-slider .background1{
        background-image: url('/public/assets/img/banner/8.webp');
        width: 100%;
        height: 800px;
    }}
    @media (min-width: 767px){
    .home-area.home-v2 .header-slider .background2{
        background-image: url('/public/assets/img/banner/2 (1).webp');
        width: 100%;
        height: 800px;
    }}
    @media (min-width: 767px){
    .home-area.home-v2 .header-slider .background3{
        background-image: url('/public/assets/img/banner/4 (1).webp');
        width: 100%;
        height: 800px;
    }}
    @media (min-width: 767px){
    .home-area.home-v2 .header-slider .background4{
        background-image: url('/public/assets/img/banner/3.webp');
        width: 100%;
        height: 800px;
    }
  }


  @media (max-width: 767px){
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1{
        margin-left: 50px;
        bottom: 78px;
        padding: 12px;
        background-color: rgb(216 37 30 / 75%);
    }
    .home-area.home-v2 .header-bg .header-inner-wrap .header-inner1 .title{
        font-size: 24px;
    line-height: 24px;
    }
}


@media (max-width: 767px){
    #bg1{
        background-image: url("/public/assets/img/banner/About-us (1) (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg2{
        background-image: url("/public/assets/img/banner/chairmen.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    } 
    #bg3{
        background-image: url("/public/assets/img/banner/corporate-overview2 (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    } 
    #bg4{
        background-image: url("/public/assets/img/banner/History.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
    } 
    #bg5{
        background-image: url("/public/assets/img/banner/vision (3).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    } 
    #bg6{
        background-image: url("/public/assets/img/banner/Investor.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg7{
        background-image: url("/public/assets/img/banner/Network-in-logistic.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg8{
        background-image: url("/public/assets/img/banner/all-service.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg9{
        background-image: url("/public/assets/img/banner/part-time-truck (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg10{
        background-image: url("/public/assets/img/banner/full-truck-load (2).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg11{
        background-image: url("/public/assets/img/service-1/bulk mov/bulk-movements (2).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg12{
        background-image: url("/public/assets/img/banner/odc.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg13{
        background-image: url("/public/assets/img/banner/warehouse (2).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg14{
        background-image: url("/public/assets/img/banner/SARC-country.jpg");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg15{
        background-image: url("/public/assets/img/banner/pick-and-drop2.jpg");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg16{
        background-image: url("/public/assets/img/banner/contact.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg17{
        background-image: url("/public/assets/img/banner/career-in-logistic.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg18{
        background-image: url("/public/assets/img/banner/FAQ (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg19{
        background-image: url("/public/assets/img/banner/feedback (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg20{
        background-image: url("/public/assets/img/banner/CSR (2).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg21{
        background-image: url("/public/assets/img/banner/consignment-tracking.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg22{
        background-image: url("/public/assets/img/banner/necc-group (2).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg23{
        background-image: url("/public/assets/img/banner/necc-logistic (2).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg24{
        background-image: url("/public/assets/img/banner/necc-telecom (1) (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg25{
        background-image: url("/public/assets/img/banner/North-Eastern-Carrying-Corporation.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg26{
        background-image: url("/public/assets/img/banner/ecom-solutions.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg27{
        background-image: url("/public/assets/img/banner/Necc-Packer-&-Movers.webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg28{
        background-image: url("/public/assets/img/banner/magazine (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg29{
        background-image: url("/public/assets/img/banner/Awards (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg30{
        background-image: url("/public/assets/img/banner/corporate-information.jpg");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
    #bg31{
        background-image: url("/public/assets/img/banner/sitemap (1).webp");
        width: 100%;
        height: 300px; 
        background-size: 100% 99%;
        filter: blur(0px) !important;
        margin-top: 40px;
    }
}

@media (width: 768px){
    .navbar-area-1{
       margin-top: 20px;
    }
  }

.single-select{
    background: transparent;
    border: 1px solid #d6d6d6 !important;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
}

.card-mg{
    margin: 10px 0px 0px;
}

.scroll-box{
    overflow: auto;
  }

  .hoverText:hover{
    color: #FFF;
  }
