.customstyle-Carrier{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedbackheader{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--heading-color);
}

.simplebar-placeholder{
    height: 10px !important;
}

.fixed-width-column {
    width: 500px; /* Adjust the width as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
.feedbackbox{
    border: 0;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(8, 12, 36, 0.08);
}

.customstyle-Service{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-Investors{
    margin-left:10px;
}

.list-Investors1{
    margin-left:1px;
    list-style-type: none;
    font-size: 15px;
    line-height: 30px;
}

.list-Investors2{
    margin-right:5px;
}

.CorporateInformation{
    font-size: 22px;
}

.CorporateInformation1{
    font-size: 18px;
}

.CorporateInformation2{
    margin-top: 10px;
    border-bottom: 1px solid rgb(195, 191, 191);
    padding:4px;
}
.CorporateInformation3{
    font-size: 22px;
    margin-top: 20px;
}

.list-Corporate1{
    margin-top:30px;
    list-style-type: none;
    font-size: 15px;
    color: rgb(53, 52, 52);
    padding-left: 0%;
}

.list-Corporate2{
    margin-right:12px;
}

.visionStat{
    margin-top: -10px;
    color:#ffffff;
    margin-left: 60px;
}

.divider-area.divider-default-area {
    background-color: #fa4318;
    overflow: hidden;
    position: relative;
    padding: 20px 0 20px;
    color: #ffffff;
}

.divider-area.divider-default-area .content .title {
    color: #fff;
    font-size: 30px;
    line-height: 1.2889;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading__title {
    font-size: 40px;
    color: #ff5e14;
    margin-bottom: 15px;
}

.widget_tags .tagcloud p {
    background: #080c24;
    border-radius: 0;
    box-shadow: 0 2px 14px rgba(4,6,66,.05);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 39px;
    margin: 0 7px 10px 0;
    padding: 0 20px;
}

.list-Policy{
    margin-top:30px;
    list-style-type: none;
    font-size: 15px;
    color: rgb(53, 52, 52);
    padding-left: 0%;
}